@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/MontserratAlternates-Regular.ttf);
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/MontserratAlternates-Bold.ttf);
  font-weight: 800;
  font-style: regular;
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/MontserratAlternates-Thin.ttf);
  font-weight: 100;
  font-style: regular;
}

:root {
  --cc-gray-9: #0f172a;
  --cc-gray-8: #1e293b;
  --cc-gray-7: #334155;
  
  --cc-indigo-9: #312e81;
  --cc-indigo-8: #3730a3;
  --cc-indigo-7: #4338ca;
  --cc-indigo-6: #4f46e5;
  --cc-indigo-5: #6366f1;
  --cc-indigo-4: #818cf8;
  --cc-indigo-3: #a5b4fc;
  --cc-indigo-2: #c7d2fe;
  --cc-indigo-1: #e0e7ff;
  --cc-indigo-0: #eef2ff;

  --cc-emerald-2: #a7f3d0;
  --cc-emerald-3: #6ee7b7;
  --cc-emerald-4: #34d399;
  --cc-emerald-5: #10b981;
  --cc-emerald-6: #059669;
  --cc-emerald-7: #047857;
  --cc-emerald-8: #065f46;
  --cc-emerald-9: #064e3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  position: absolute;
  z-index: 50;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1400px;
}

.hero {
  padding: 48px 8px;
}

h1 {
  font-size: 48px;
  padding: 32px;
  width: max-content;
  background-color: whitesmoke;
  color: var(--cc-indigo-9);
  border-radius: 4px;
}

.role {
  color: var(--cc-gray-7);
}

.presentation {
  background-color: var(--cc-gray-9);
  color: var(--cc-indigo-1);
  margin-left: auto;
  padding: 32px;
  width: 75%;
}

.element {
  border-radius: 4px;
  margin-top: 160px;
}

.contact-cloud {
  width: 50%;

}

.contact-cloud ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 32px;
}

.contact-cloud ul li a {
  color: var(--cc-indigo-1);
}

.contact-cloud ul li:hover a {
  color: var(--cc-indigo-4);
}

.contact-cloud ul li a:focus {
  color: var(--cc-indigo-4);
}

h2 {
  padding: 24px 32px;
  background-color: white;
  color: var(--cc-gray-9);
  border-radius: 4px;
  text-align: center;
}

.recents {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.works-list {
  width: 100%;
}

.left {
  margin-right: auto;
  color: var(--cc-indigo-0);
  background-color: var(--cc-gray-9);
}

.right {
  flex-direction: row-reverse;
  margin-left: auto;
  background-color: var(--cc-indigo-0);
  color: var(--cc-gray-9);
}

.left img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.right img {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card {
  display: flex;
  width: 65%;
  margin-top: 120px;
  font-weight: 800;
  border-radius: 4px;
}

.card-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 24px;
}

.card-info .work-desc {
  font-size: 16px;
  width: 80%;
}

.card-info .work-name {
  width: 100%;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.card-info ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card-item {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px
}

.left .card-item {
  border: 1px solid var(--cc-emerald-7);
  padding: 8px 16px;
  border-radius: 4px;
}

.right .card-item {
  border: 1px solid var(--cc-emerald-4);
  padding: 8px 16px;
  border-radius: 4px;
}


.card-btns {
  margin-top: 24px;
}

.card-btns .card-btn{
  padding: 8px 16px;
  margin: 24px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.left .card-btn {
  background-color: var(--cc-emerald-4);
  color: var(--cc-indigo-9);
  box-shadow: 1px 1px 1px 0px white;
}

.right .card-btn {
  background-color: var(--cc-emerald-3);
  color: var(--cc-indigo-9);
  box-shadow: 1px 1px 3px 0 var(--cc-indigo-9);
}

.card-btn:hover, .card-btn:focus  {
  background-color: var(--cc-emerald-5);
  color: var(--cc-indigo-0);
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px
}

.aboutme p {
  width: 45%;
  background-color: var(--cc-indigo-0);
  padding: 32px;
}

.aboutme-text {
  margin-right: auto;
}

.aboutme-stack {
  margin-left: auto;
}

.aboutme-interests {
  margin-right: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}


